Steps:
1. The train set is split into 10 parts 
2. A base model (supposedly decision tree) is fitted on 9 parts and predictions are made for the 10th part, This is done for each part of the train set 
3. The base model is then fitted on the whole train dataset 
4. Using this model, predictions are made on the test set 
5. Steps 2 to 4 are repeated for another base model resulting in another set of predictions for the train and test sets 
6. The predictions from the train set are used as features to build a new model 
7. This model is used to make final predictions on the test prediction set

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('titanic_preprocessed.csv')
X = data.drop(['Survived'], axis = 1)
y = data['Survived']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25)

In [8]:
# base models
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.linear_model import LogisticRegression

In [9]:
def predictions(model, X_train, y_train, X_test):
  #train model
  model.fit(X_train, y_train)
  # store train and test predictions
  train_pred = model.predict(X_train)
  test_pred = model.predict(X_test)

  return train_pred, test_pred

In [10]:
# model 1 : Decision Tree
model1 = DecisionTreeClassifier()
M1_train, M1_test = predictions(model1, X_train, y_train, X_test)

In [11]:
# model 2 : KNN
model2 = KNeighborsClassifier()
M2_train, M2_test = predictions(model2, X_train, y_train, X_test)

In [12]:
# model 3 : Logistic Regression
model3 = LogisticRegression()
M3_train, M3_test = predictions(model3, X_train, y_train, X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

### Stacking Model

In [13]:
#Creating train dataframe
train_prediction = {
              'DT': M1_train,
              'knn': M2_train,
              'LR': M3_train,
              }
train_predictions = pd.DataFrame(train_prediction)
train_predictions.head()

   DT  knn  LR
0   0    0   0
1   0    0   0
2   0    0   0
3   1    1   1
4   0    0   0

In [14]:
#Creating test dataframe
test_prediction = {
              'DT': M1_test,
              'knn': M2_test,
              'LR': M3_test,
              }
test_predictions = pd.DataFrame(test_prediction)
test_predictions.head()

   DT  knn  LR
0   1    0   1
1   0    0   0
2   1    0   1
3   1    1   1
4   1    0   1

In [15]:
# Stacker Model
'''
  use the training predctions and test predictions dataframes in predicting y_test
'''
model = LogisticRegression()
model.fit(train_predictions, y_train)
model.score(test_predictions,y_test)

0.7623318385650224

In [16]:
# Stacker Model
model = DecisionTreeClassifier()
model.fit(train_predictions, y_train)
model.score(test_predictions,y_test)

0.7623318385650224

In [17]:
# Stacker Model
model = KNeighborsClassifier()
model.fit(train_predictions, y_train)
model.score(test_predictions,y_test)

0.7623318385650224

* conclusion: all models perform the same on test/valid data